# 02.Propagate a TLE

This is a good introduction to the flow of the analysis code in `public_astrostandards_tools`.

Most start by defining a date frame.  Tools then build that frame out with key data.

In [1]:
import numpy as np
import pandas as pd

import public_astrostandards as PA
import public_astrostandards_tools as PAT

In [2]:
# shared libs no longer need to be init'd, but this will setup a log in "aslog.txt"
PA.init_all( verbose=True )

--- INITIALIZING DLLs ---
DllMainInit            : 0
EnvInit                : 0
TimeFuncInit           : 0
AstroFuncInit          : 0
TleInit                : 0
SpVecInit              : 0
VcmInit                : 0
ExtEphInit             : 0
Sgp4Init               : 0
SatStateInit           : 0
SensorInit             : 0
ObsInit                : 0

0

In [3]:
# assume we have a file stored from the first example; this sets up time constants
PAT.astro_time.load_time_constants( './reduced_time_constants.dat', PA )

### Build dates

Column names are used canonically in later calls.  Don't change them.

In [4]:
# set some dates as datetime objects
dates = pd.date_range( '2026-1-1', '2026-1-10', freq='5min')

# now annotate key astrostandards data; again, note that the harness we pass in is for the public_astrostandards (not public_astrostandards_tools)
dates_df = PAT.astro_time.convert_times( dates, PA )
# these should now have key astrostandard fields that will be used in later calls
dates_df.head(5)

             datetime     theta      ds50_utc       ds50_et      ds50_ut1
0 2026-01-01 00:00:00  1.756867  27760.000000  27760.000801  27760.000001
1 2026-01-01 00:05:00  1.778743  27760.003472  27760.004273  27760.003473
2 2026-01-01 00:10:00  1.800620  27760.006944  27760.007745  27760.006945
3 2026-01-01 00:15:00  1.822496  27760.010417  27760.011217  27760.010417
4 2026-01-01 00:20:00  1.844372  27760.013889  27760.014690  27760.013889

### Propagate the TLE

- `propTLE_df` will throw an error if astrostandards cannot find the SGP4_Open_License.txt file
- note that the frame you pass in will be modified; pass a copy if you want to keep the original
- output is in TEME

In [5]:
ISS = ('1 25544U 98067A   26007.40340206  .00008503  00000-0  16139-3 0  9993','2 25544  51.6331  15.4118 0007618 351.0107   9.0743 15.49153097546833')

# this will throw an error if astrostandards cannot find the SGP4_Open_License.txt file
teme_ephemeris = PAT.sgp4.propTLE_df( dates_df.copy(), ISS[0], ISS[1], PA )
teme_ephemeris.head(5)

,datetime,theta,ds50_utc,ds50_et,ds50_ut1,teme_p,teme_v
0,2026-01-01 00:00:00,1.756867,27760.000000,27760.000801,27760.000001,"[2786.383383425231, -3191.4106885408264, -5318...","[5.420889753279033, 5.386981506703717, -0.3860..."
1,2026-01-01 00:05:00,1.778743,27760.003472,27760.004273,27760.003473,"[4224.9366250036, -1425.9369660690775, -5131.6...","[4.0781494669806495, 6.271170709606696, 1.6209..."
2,2026-01-01 00:10:00,1.800620,27760.006944,27760.007745,27760.006945,"[5186.8741294827205, 500.3394946910357, -4364....","[2.2732550565759646, 6.448563224732552, 3.4471..."
3,2026-01-01 00:15:00,1.822496,27760.010417,27760.011217,27760.010417,"[5562.738787941016, 2370.016968046715, -3102.2...","[0.20795528650210088, 5.896976875995078, 4.885..."
4,2026-01-01 00:20:00,1.844372,27760.013889,27760.014690,27760.013889,"[5308.899209773731, 3971.3486180370132, -1488....","[-1.8846185903089108, 4.676298940481601, 5.771..."